/* Variables  */
:root{
  --theme-color:#1AA479;
  --theme-light-color:#78fdd3;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--theme-light-color);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #1AA479;
  -webkit-box-shadow: inset 0 0 6px var(--theme-light-color);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--theme-color);
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: rgb(26 164 120);
}
.header-top{
  background-color: rgba(36, 187, 140,0.05);
}
.register-btn{
  padding: 5px 10px;
  margin-left: 10px;
  background-color:var(--theme-color);
  border: 1px solid transparent;
}
.theme-color{
  color: var(--theme-color);
}
.theme-bg{
  background-color: var(--theme-color);
}
.text-bold{
  font-weight:500
}
.wave{
  position: relative;
  min-height: 500px;
  background-color: rgba(36, 187, 140,0.05);
}
.wave::before {
  content: "";
  background-image: url(../images/wave-1.png);
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: 20%;
  z-index: -1;
}
.wave::after {
  content: "";
  background-image: url(../images/wave-2.png);
  position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    background-repeat: no-repeat;
    background-size: 20%;
    z-index: -1;
    background-position: 100% 150%;
}
.grid-3{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 12px;
  width: 100%;
}
.gcc{
  display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
@media (max-width:400px){
  .grid-3{
    display: grid;
    grid-template-columns: auto;
    gap: 12px;
    width: 100%;
  }
}
.container-new {
  width: 90%;
  margin: auto;
  padding: 0px 14px;
}
.skill{
  position: relative;
  display: flex;
  justify-content: center;
}
.skill .skill-border{
    position: relative;
    background-image: url(../images/circle.png);
    background-repeat: no-repeat;
}
.skill .skill-border img{
  width: 86%;
    position: relative;
    left: 10px;
    top: -4px;
}
.result{
  position: absolute;
  top: 25%;
  left: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #EAECF0;
  border: 1px solid var(--theme-color);
  border-radius: 12px;
  gap: 12px;
  padding: 0px 12px;
}
.dots{
  position: absolute;
  bottom: 15%;
  background-color: #1aa479;
  border: 1px solid var(--theme-color);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  left: 0%;
}
.likes{
  position: absolute;
  top: 0;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EAECF0;
  border: 1px
solid var(--theme-color);
  border-radius: 12px;
  gap: 12px;
  padding: 10px 12px;
  text-align: center;
}
.tutor{
  position: absolute;
  right: 10%;
  bottom: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #EAECF0;
  border: 1px solid var(--theme-color);
  border-radius: 12px;
  gap: 12px;
  padding: 0px 12px;
}
@media (min-width:350px) and (max-width:499px){
  .skill .skill-border{
    height: 425px;
    background-size: 100%;
}
.result {
  left: -10%;
}
.likes {
  right: -10%;
}
.tutor {
  right: -10%;
  bottom: 20%;
}
.skill .skill-border img {
  width: 100%;
  position: relative;
  left: 5px;
  top: 3px;
}
}
@media (max-width:349px){
  .skill .skill-border{
    height: 250px;
    background-size: 100%;
}
.skill .skill-border img {
  width: 100%;
  position: relative;
  left: 5px;
  top: 3px;
}
.result {
  left: -10%;
  padding: 0px 8px 0px 0px;
}
.img-w{
  width:35px;
}
.result h4{
  margin-bottom: 0px;
}
.likes {
  right: -10%;
  padding: 10px 8px;
}
.likes h4{
  margin-bottom: 0px;
}
.likes .w-50{
  width: 25%!important;
}
.tutor {
  right: -10%;
  bottom: 20%;
}
.tutor h4{
  margin-bottom: 10px;
}
.tutor img{
  width:35px;
}
}
.grid-4{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 12px;
  width: 100%;
}
.icvu{
  display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    text-align: center;
    margin: auto;
}
.icvu img{
  width:75px
}
.icvu h4{
  margin-bottom: 0px;
}
@media (min-width:400px) and (max-width:767px){
  .grid-4{
    grid-template-columns: auto auto;
  }
}
@media (max-width:399px){
  .grid-4{
    grid-template-columns: auto;
  }
  .icvu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    text-align: center;
    margin: inherit;
    justify-content: space-between;
}
}
.careers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
}
.sld-item .card .card-body img{
  border-radius:6px;
  width:100%
}
.sld-img {
  position: relative;
}
.caps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 6px 12px;
}
.sld-img-left span {
  background: #333;
  color: #fff;
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 12px;
}
.img-sty{
  width: auto !important;
    border-radius: 0px !important;
}
.sld-text {
  font-size: .675em !important;
}
.sld-next-btn{
  background-color: rgba(26, 164, 121, 0.12);
    border: 0px;
}
.slick-dots li button {
  background: #96fcdb !important;
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
}
.slick-dots li.slick-active button {
  background: #1aa479 !important;
  border-radius: 25px;
  width: 25px !important;
  height: 10px !important;
  margin-right: 5px;
}
/* .explore-careers .slick-dots{
  text-align: end;
  bottom: -75px;
} */

.slick-dots {
  position: relative;
  bottom: -70px !important;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: right !important;
}
.college-slider .caps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: auto;
  bottom: 10px;
  width: 90%;
  padding: 6px 12px;
  background-color: #fff;
  margin: auto;
  left: 5%;
  border-radius: 6px;
}

.college-slider .slick-list, .best-careers .slick-list, .rec-careers .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0px 50px 0px 0px !important;
}

.grid-2{
  display: grid;
  grid-template-columns: 40% auto;
  gap: 12px;
  width: 100%;
  height:100%
}
.grid-2 .devides{
  display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.champ{
  width: auto;
    height: auto;
    background-color: rgba(26, 164, 121, 0.1);
    transform: rotate(25deg) !important;
    display: inline-block;
    padding: 5px;
    border-radius: 12px;
    font-size: 12px;
    position: relative;
    top: -30px;
    left: -25px;
}
.img-bg{
  position: relative;
}
.img-bg::before{
  content: "";
  background-image: url(../images/champ-bg.png);
  position: absolute;
  top: calc(50% - 105px);
  left: 0px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
  width: 100%;
}
.champ-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.std-feedback-slider .slick-dots {
  text-align: center !important;
}
.feed-b {
  display: grid;
  grid-template-columns:auto auto;
  gap:12px;
}
.feed-b .inner{
  display: flex;
    gap: 5px;
    align-items: center;
}
.h-200{
  height:200px
}
.right-col::after {
  content: "";
  position: absolute;
  border-top: 162px solid #1aa478;
  border-right: 300px solid #1aa478;
  border-radius: 80px 0px 0px 50px;
  right: 0px;
}
ul.footer-nav {
  float: left;
  width: 100%;
  height: auto;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul.footer-nav li{
  float: left;
  width: 100%;
  height: auto;
}
ul.footer-nav li a{
  float: left;
  width: 100%;
  height: auto;
  color:rgba(var(--bs-light-rgb),var(--bs-text-opacity));
  padding: 2px 0px;
}
ul.footer-nav li a:hover{
  color:#ffffff;
}
.footer-cont{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    text-align: left;
}
.fw{
  float:left;
  width:100%;
}
ul.footer-nav li a span{
  background-color: #1aa478;
  padding: 2px 10px;
  border-radius: 25px;
  font-size: 12px;
  margin-left: 10px;
}
.sol-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.l-hide{
  display:none;
}
@media (max-width:991px){
  .grid-2{
    grid-template-columns:auto;
  }
  .l-hide{
    display:block;
  }
}
@media (max-width:767px){
  .right-col::after {
    display: none;
  }
}
.logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.btn-toggle .btn.active{
  background-color: #198754;
  border-color: #198754;
  border-radius: 0px 25px 25px 0px;
  color:#fff
}
.btn-toggle .btn{
  background-color: rgba(25, 135, 84, 0.1);
  border-color: rgba(25, 135, 84, 0.1);
  border-radius: 25px 0px 0px 25px;
  color: rgba(25, 135, 84, 1);
}
.my-career-m .nav-link{
  color:#ffffff
}
.my-career-m .nav-link:hover{
  color:#c0ffeb
}
.career-grid-2{
  display: grid;
  grid-template-columns: auto 100px;
  gap:12px
}
.b-b {
  position: relative;
}
.b-b::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 5px;
  background-color: var(--theme-color);
  bottom: 0px;
  border-radius: 0px 25px 25px 0px;
}
.overall-career {
  display: grid;
  grid-template-columns: 220px auto;
  gap: 12px;
  font-size: 13px;
}
.left-panel {
  width: 100%;
  float: left;
  height: 100%;
  background-color: #fafafa;
  padding: 12px;
  border-radius: 6px;
}
.right-panel {
  width: 100%;
  float: left;
  height: 100%;
  padding: 12px;
}
.filters {
  display: flex;
  justify-content: space-between;
}



.overall-career .accordion-button {
  background-color: transparent;
  font-size: 14px;
}
.overall-career .accordion-button:not(.collapsed) {
  color: #333;
  background-color: transparent;
  box-shadow: none;
  font-weight: 500;
}
.overall-career .accordion-item {
  color: var(--bs-accordion-color);
  background-color: transparent;
  border: 0px solid transparent;
}
.overall-career .accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.accordion-button{
  padding:9px 0px;
}
.form-check-input:checked {
  background-color: var(--theme-color);
  border-color: var(--theme-color);
}
ul.l-g a.nav-link.active{
  color:var(--theme-color)
}
ul.l-g a.nav-link{
  color:var(--theme-light-color)
}
.box-select .form-control:focus{
  box-shadow: none;
}
.box-select {
  position: relative;
  display: inline-block;
  top: 3px;
}
.box-select.focus::after {
  content: "\f106";
  font-family: fontAwesome;
  position: absolute;
  top: 8px;
  right: 12px;
}
.box-select::after {
  content: "\f107";
  font-family: fontAwesome;
  position: absolute;
  top: 8px;
  right: 12px;
}
.box-select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 4px 50px 4px 20px;
  background: transparent;
  z-index: 100;
  position: relative;
}
ul.order-list {
  float: left;
  width: 100%;
  height: auto;
  list-style: none;
  padding: 0px;
}
ul.order-list li {
  float: left;
  width: 100%;
  height: auto;
  padding: 0px;
}
ul.order-list li {
  float: left;
  width: 100%;
  height: auto;
  padding: 10px 12px;
  border-bottom: 1px solid #eee;
  margin-bottom: 12px;
}
span.badg {
  background-color: #eee;
  border-radius: 25px;
  padding: 3px 5px;
  font-size: 12px;
  margin-left: 15px;
}
.awards{
  display: flex;
    justify-content: space-between;
    align-items: center;
}
.od-list{
  display: flex;
  gap: 15px;
  border: 0px !important;
  padding: 10px 0px !important;
  margin-bottom: 0px !important;
}
ul.order-list li h5{
  font-size:16px;
}
.ll-hide{
display:none
}
@media (max-width: 767px){
  .awards{
    flex-direction: column;
    align-items: flex-start;
  }
  .awards .me-auto{
    margin-right: unset !important;
  }
  .awards .ms-auto{
    margin-left: unset !important;
  }
}
@media (max-width: 991px){
  .ll-hide{
    display:inline-block;
    }
    .overall-career {
      display: grid;
      grid-template-columns: auto;
      gap: 12px;
      font-size: 13px;
  }
  .nav-bb{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
}
.progress {
  margin: 20px auto;
  padding: 0;
  width: 100%;
  height: 10px;
  overflow: hidden;
  border-radius: 6px;
}

.bar {
	position:relative;
  float:left;
  min-width:1%;
  height:100%;
  background: linear-gradient(to left, #FF991F, #ffe1bd);
}

.percent {
	position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin:0;
  font-family:tahoma,arial,helvetica;
  font-size:12px;
  color:white;
}
.runn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.runn-inn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}
.up-next{
  border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
ul.my-career-m .nav-link.active {
  color: #fff;
  font-weight:500;
}